In [253]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
clinical_trialdf = pd.read_csv(clinical_trial_data_to_load)
mouse_datadf = pd.read_csv(mouse_drug_data_to_load)

# Combine the data into a single dataset
merged_original_df = pd.merge(clinical_trialdf, mouse_datadf, on = "Mouse ID")
# Display the data table for preview

In [254]:
mouse_datadf.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [255]:
clinical_trialdf.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [256]:
merged_original_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

# Summary Statistics

In [257]:
tumorsees = merged_original_df[['Drug','Timepoint','Tumor Volume (mm3)']]
tumorsees

           Drug  Timepoint  Tumor Volume (mm3)
0     Capomulin          0           45.000000
1     Capomulin          5           45.651331
2     Capomulin         10           43.270852
3     Capomulin         15           43.784893
4     Capomulin         20           42.731552
...         ...        ...                 ...
1901  Capomulin         25           33.118756
1902  Capomulin         30           31.758275
1903  Capomulin         35           30.834357
1904  Capomulin         40           31.378045
1905  Capomulin         45           28.430964

[1906 rows x 3 columns]

In [258]:
each_jack = merged_original_df.groupby('Drug')['Timepoint'].unique()
each_jack

Drug
Capomulin    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Ceftamin     [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Infubinol    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Ketapril     [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Naftisol     [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Placebo      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Propriva     [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Ramicane     [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Stelasyn     [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Zoniferol    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Name: Timepoint, dtype: object

In [259]:
store_meantumor = tumorsees.groupby(['Drug','Timepoint'])['Tumor Volume (mm3)'].mean().reset_index()
store_meantumor

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]